{% extends 'layout.html.twig' %}

{% block title %}New BlogPost{% endblock %}

{% block header %}
    <h1>Create new BlogPost</h1>
{% endblock header %}

{% block content %}

    {{ include('admin/_form.html.twig') }}

{% endblock %}
