{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block header %}
        {% endblock header %}
        {{ include("menu.html.twig") }}
        {% block content %}
        {% endblock content %}
    {{ include("footer.html.twig") }}
    </div>
{% endblock body %}